<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tasks</title>
  </head>
  <body>
    <form id="task" action="" method="post">
      <legend>Create Task</legend>
      <label for="">Name</label>
      <input type="text" name="name" value="">
      <br />
      <label for="">Status</label>
      <input type="text" name="damage" value="">
      <br />
      <label for="">Priority</label>
      <input type="text" name="icon" value="">
      <br />
      <input type="submit" name="name" value="Create Ability">
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
